$primary: #4f2faa;
$navbar-dark-hover-color: rgba($primary, 1);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.mainImage {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

footer {
  height: 140px;
}

.img-object-fit {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.iconHardskill {
  color: black;
}

.iconHardskill:hover {
  transform: scale(1.15);
  transition: 0.4s;
  color: var(--bs-primary);
}

#contact {
  margin-top: 5rem;
  margin-bottom: 17rem;
}
